<div class="d-flex mt-4">
  <!--Partidos Jugados-->
  <div class="flex-grow-1 px-1">
    <p class="team-detail-stats">
      <i class="fa-solid fa-circle-check none"></i>
      PJ
    </p>
    <p>{{ equipoStats.partidosJugados }}</p>
  </div>
  <!--Partidos Ganadas-->
  <div class="flex-grow-1 px-1">
    <p class="team-detail-stats">
      <i class="fa-solid fa-circle-check text-success none"></i>
      PG
    </p>
    <p>{{ equipoStats.partidosGanados }}</p>
  </div>
  <!--Partidos Empatados-->
  <div class="flex-grow-1 px-1">
    <p class="team-detail-stats">
      <i class="fa-solid fa-circle-minus none"></i>
      PE
    </p>
    <p>{{ equipoStats.partidosEmpatados }}</p>
  </div>
  <!--Partidos Perdidos-->
  <div class="flex-grow-1 px-1">
    <p class="team-detail-stats">
      <i class="fa-solid fa-circle-xmark text-danger none"></i>
      PP
    </p>
    <p>{{ equipoStats.partidosPerdidos }}</p>
  </div>
  <!--Goles a Favor-->
  <div class="flex-grow-1 px-1">
    <p class="team-detail-stats">
      <i class="fa-solid fa-futbol text-success none"></i>
      GF
    </p>
    <p>{{ equipoStats.golesAnotados }}</p>
  </div>
  <!--Goles En Contra-->
  <div class="flex-grow-1 px-1">
    <p class="team-detail-stats">
      <i class="fa-solid fa-futbol text-danger none"></i>
      GC
    </p>
    <p>{{ equipoStats.golesRecibidos }}</p>
  </div>
  <!--Diferencia de Goles-->
  <div class="flex-grow-1 px-1">
    <p class="team-detail-stats">
      <i class="fa-solid fa-futbol none"></i>
      DG
    </p>
    <p>{{ equipoStats.golesDiferencia }}</p>
  </div>
  <!--Tarjetas Amarillas-->
  <div class="flex-grow-1 px-1">
    <p class="team-detail-stats">
      <i class="fa-solid fa-sd-card text-warning none"></i>
      TA
    </p>
    <p>{{ equipoStats.amarillas }}</p>
  </div>

  <!--Tarjetas Rojas-->
  <div class="flex-grow-1 px-1">
    <p class="team-detail-stats">
      <i class="fa-solid fa-sd-card text-danger none"></i>
      TR
    </p>
    <p>{{ equipoStats.rojas }}</p>
  </div>

  <!--Puntos-->
  <div class="flex-grow-1 px-1">
    <p class="team-detail-stats">
      <i class="fa-solid fa-star gold none"></i>
      PTs
    </p>
    <p>{{equipoStats.puntos}}</p>
  </div>
</div>
