<div class="d-flex mt-4">
  <!--Partidos Jugados-->
  <div class="flex-grow-1 px-3">
    <p class="team-detail-stats">
      <!-- <i class="fa-solid fa-circle-check"></i> -->
      PJ
    </p>
    <p>15</p>
  </div>
    <!--Partidos Ganadas-->
  <div class="flex-grow-1 px-3">
    <p class="team-detail-stats">
      <!-- <i class="fa-solid fa-circle-check text-success"></i> -->
      PG</p>
    <p>15</p>
  </div>
    <!--Partidos Empatados-->
  <div class="flex-grow-1 px-3">
    <p class="team-detail-stats">
      <!-- <i class="fa-solid fa-circle-minus"></i> -->
      PE</p>
    <p>15</p>
  </div>
    <!--Partidos Perdidos-->
<div class="flex-grow-1 px-3">
    <p class="team-detail-stats">
      <!-- <i class="fa-solid fa-circle-xmark text-danger"></i> -->
      PP
    </p>
    <p>15</p>
  </div>
    <!--Goles a Favor-->
  <div class="flex-grow-1 px-3">
    <p class="team-detail-stats">
      <!-- <i class="fa-solid fa-futbol text-success"></i> -->
      GF
    </p>
    <p>15</p>
  </div>
    <!--Goles En Contra-->
<div class="flex-grow-1 px-3">
    <p class="team-detail-stats">
      <!-- <i class="fa-solid fa-futbol text-danger"></i> -->
      GC
    </p>
    <p>15</p>
  </div>
    <!--Diferencia de Goles-->
<div class="flex-grow-1 px-3">
    <p class="team-detail-stats">
      <!-- <i class="fa-solid fa-futbol"></i> -->
      DG
    </p>
    <p>15</p>
  </div>
    <!--Tarjetas Amarillas-->
<div class="flex-grow-1 px-3">
    <p class="team-detail-stats">
      <!-- <i class="fa-duotone fa-sd-card text-warning"></i> -->
      TA
    </p>
    <p>15</p>
  </div>
    <!--Tarjetas Rojas-->
<div class="flex-grow-1 px-3">
    <p class="team-detail-stats">
      <!-- <i class="fa-duotone fa-sd-card text-danger"></i> -->
      TR
    </p>
    <p>15</p>
  </div>
    <!--Puntos-->
<div class="flex-grow-1 px-3">
    <p class="team-detail-stats">PT'S</p>
    <p>15</p>
  </div>
</div>
