.team-detail-stats {
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  max-width: 50px;
  line-height: 12px;
}

.gold {
  color: #FFD700; /* Para el color del texto */
}
@media (max-width: 767px) {

  .team-detail-stats {
    font-size: 10px;
    max-width: 30px;
    line-height: 8px;
  }
  .none{
    display: none;
  }
}
