<div class="bg-white p-4">
  <h2 class="main-title">Perfil de Equipo</h2>
  <div class="row">
    <br />
    <br />

    <!--Temporada del equipo-->
    <div class="col-xl-1 col-4 mt-3">
      <app-temporada />
    </div>

    <!-- Informacion del equipo -->
    <div class="col-xl-3 col-8 mt-3 mb-2">
      <app-info-equipo />
    </div>

    <!-- Estadistricas del equipo-->
    <div class="col-xl-8 col-12 border-stats">
      <app-stats />
    </div>

    <!-- Estadisticas del equipo -->
    <div class="row d-flex justify-content-center mt-4">
      <!-- Tabla de TOP goleadores -->
      <div class="col-12 col-xl-3 mx-2 mb-2">
        <div class="d-flex justify-content-center">
          <app-top-goles />
        </div>
      </div>

      <!-- Tabla de TOP Partidos Jugados -->
      <div class="col-12 col-xl-3 mx-2 mb-2">
        <div class="d-flex justify-content-center">
          <app-top-pj />
        </div>
      </div>
      <!-- Tabla de TOP Tarjetas -->
      <div class="col-12 col-xl-3 mx-2 mt-small">
        <div class="d-flex justify-content-center">
          <app-top-tarjetas />
        </div>
      </div>
    </div>
  </div>
  <!-- Cards de estadisticas de jugadores -->
  <div class="p-4">
    <h2 class="main-title">Jugadores</h2>
    <app-jugador />
  </div>


</div>
