<div class="bg-white">

    <div class="row p-4">
      <h2>Equipo</h2>
      <hr>
      <div class="col-1 justify-content-center mt-3">
        <p class="team-name"><strong>Temporada</strong></p>
        <select>
          <option value="opcion1">2023/2024</option>
          <option value="opcion2">2022/2023</option>
          <option value="opcion3">2021/2022</option>
        </select>
      </div>
      <div class="col-1 d-flex justify-content-end">
        <img src="assets/real.png" alt="real madrid" class="icono-equipo" />
      </div>
      <div class="col-2 mt-3">
        <p class="team-name"><strong>Real Madrid</strong></p>
        <p class="">Madrid, España</p>
      </div>
      <div class="col-8 mt-4 d-flex mr-t">
        <div class="flex-grow-1 px-3">
          <p class="team-detail-stats">PJ</p>
          <p>15</p>
        </div>
        <div class="flex-grow-1 px-3">
          <p class="team-detail-stats">PG</p>
          <p>15</p>
        </div>
        <div class="flex-grow-1 px-3">
          <p class="team-detail-stats">PE</p>
          <p>15</p>
        </div>
        <div class="flex-grow-1 px-3">
          <p class="team-detail-stats">GF</p>
          <p>15</p>
        </div>
        <div class="flex-grow-1 px-3">
          <p class="team-detail-stats">GC</p>
          <p>15</p>
        </div>
        <div class="flex-grow-1 px-3">
          <p class="team-detail-stats">DG</p>
          <p>15</p>
        </div>
        <div class="flex-grow-1 px-3">
          <p class="team-detail-stats">Amarillas</p>
          <p>15</p>
        </div>
        <div class="flex-grow-1 px-3">
          <p class="team-detail-stats">Rojas</p>
          <p>15</p>
        </div>

      </div>
    </div>
    <div class="row p-4 ">
      <h2>Jugadores</h2>
      <hr>
      <div class="col-4 ">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
