<div class="row mt-4 justify-content-center">
  <div class="col-12 col-xl-3 mx-2 mb-3" *ngFor="let jugador of jugadores">
    <div class="d-flex justify-content-center">
      <div class="card cardcolor card-size">
        <div>
          <div>
            <i
              class="mt-2 card-img-top fa-solid fa-circle-user fa-5x d-flex justify-content-center align-items-center"
            ></i>
          </div>
          <div class="number-container">
            <div class="number-mask">{{ jugador.dorsal }}</div>
          </div>
        </div>
        <div class="card-body text-center">
          <div class="card-title-container">
            <h5 class="card-title"> <span class="line">{{jugador.nombre}}</span></h5>
            <p class="card-text">{{ jugador.posicion }}</p>
            <button
              type="button"
              class="btn btn-outline-primary btn-details"
              (click)="open(content, jugador.id)"
            >
              <i class="fa-solid fa-chart-simple"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title title-stats" id="modal-basic-title">
      Estadisticas de jugador
    </h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="mx-2 title-stats-player">Historico</div>
    <div class="d-flex row border-stats-player m-2 p-2">
      <div class="col-3 player-detail-stats">
        <i class="fa-solid fa-circle-check text-success mx-1"></i>PJ
      </div>
      <div class="col-3 player-detail-stats">
        <i class="fa-solid fa-futbol mx-1"></i>G
      </div>
      <div class="col-3 player-detail-stats">
        <i class="fa-duotone fa-sd-card text-warning mx-1"></i>TA
      </div>
      <div class="col-3 player-detail-stats">
        <i class="fa-duotone fa-sd-card text-danger mx-1"></i>TR
      </div>
      <div class="col-3">
        <span class="ml-1">{{ jugadorStats.partidosJugadosTotal }}</span>
      </div>
      <div class="col-3">
        <span class="ml-1">{{ jugadorStats.golesTotal }}</span>
      </div>
      <div class="col-3">
        <span class="ml-1">{{ jugadorStats.amarillasTotal }}</span>
      </div>
      <div class="col-3">
        <span class="ml-1">{{ jugadorStats.rojasTotal }}</span>
      </div>
    </div>
    <div [ngClass]="{'season-select': !existenDatos}">
      <div class="mx-2 title-stats-player">Temporada</div>
      <div class="d-flex row border-stats-player m-2 p-2">
        <div class="col-3 player-detail-stats">
          <i class="fa-solid fa-circle-check text-success mx-1"></i>PJ
        </div>
        <div class="col-3 player-detail-stats">
          <i class="fa-solid fa-futbol mx-1"></i>G
        </div>
        <div class="col-3 player-detail-stats">
          <i class="fa-duotone fa-sd-card text-warning mx-1"></i>TA
        </div>
        <div class="col-3 player-detail-stats">
          <i class="fa-duotone fa-sd-card text-danger mx-1"></i>TR
        </div>
        <div class="col-3">
          <span class="ml-1">{{ jugadorStats.partidosJugadosTemp }}</span>
        </div>
        <div class="col-3">
          <span class="ml-1">{{ jugadorStats.golesTemp }}</span>
        </div>
        <div class="col-3">
          <span class="ml-1">{{ jugadorStats.amarillasTemp }}</span>
        </div>
        <div class="col-3">
          <span class="ml-1">{{ jugadorStats.rojasTemp }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>
