<div class="card cardcolor card-size">
  <div>
    <div>
      <i
        class="mt-2 card-img-top fa-solid fa-circle-user fa-5x d-flex justify-content-center align-items-center"
      ></i>
    </div>
    <div class="number-container">
      <div class="number-mask">15</div>
    </div>
  </div>
  <div class="card-body text-center">
    <div class="card-title-container">
      <h5 class="card-title">Jair Mora</h5>
      <p class="card-text">Defensa</p>
      <button
        type="button"
        class="btn btn-outline-primary btn-details"
        data-bs-toggle="modal"
        data-bs-target="#proveedorModal"
        title="Mostrar estadisticas"
        data-placement="top">
        <i class="fa-solid fa-chart-simple"></i>
      </button>
    </div>
  </div>
</div>

<div class="modal fade" id="proveedorModal" tabindex="-1" role="dialog" aria-labelledby="proveedorModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

