<div class="container-fluid bg-white p-4">
  <div class="row">
    <h2>Partidos Jugados</h2>
    <!-- Columna de Temporada -->
    <div class="col-2">
      <div>
        <p class="seas-title">Temporada</p>
        <select class="form-control">
          <option value="opcion1">Historico</option>
          <option value="opcion1">2023/2024</option>
        </select>
      </div>
    </div>

    <!-- Columna de Partidos -->
    <div class="col-10 bg-white p-4">
      <div class="row">
        <div class="col-3">Amsterdam</div>
        <div class="col-2">Escudo</div>
        <div class="col-2">Resultado</div>
        <div class="col-2">EscudoR</div>
        <div class="col-3">Rival</div>
      </div>
      <div class="row">
        <div class="col-3">Amsterdam</div>
        <div class="col-2">Escudo</div>
        <div class="col-2">Resultado</div>
        <div class="col-2">EscudoR</div>
        <div class="col-3">Rival</div>
      </div>
    </div>
  </div>
</div>
