
<div class="card cardcolor row card-size  ">
  <div class="d-flex justify-content-between p-3">
    <div class="col-6 stats-name">Goleadores</div>
    <div class="col-2 text-end"></div>
    <div class="col-1"></div>
    <div class="col-1 text-end"><i class="fa-solid fa-futbol"></i></div>
  </div>
  <div
    class="card-body text-center d-flex"
    *ngFor="let goleadores of TopGolesLimit; let i = index"
  >
    <div class="col-1">{{ i + 1 }}</div>
    <div class="col-2">
      <i class="fa-solid fa-circle-user mt-1"></i>
    </div>
    <div class="col-8 text-start">{{goleadores.nombre}}</div>
    <div class="col-1 text-end">{{goleadores.cantidad}}</div>
  </div>
  <div class="card-footer  d-flex justify-content-end ">
    <button class="btn text-primary"
    type="button"
    data-bs-toggle="modal"
    data-bs-target="#goleadorModal"
    title="Mostrar estadisticas"
    data-placement="top">
    Ver Todos<i class="fa-solid fa-arrow-right text-primary mx-2 "></i></button>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="goleadorModal" tabindex="-1" aria-labelledby="goleadorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title title-stats" id="goleadorModalLabel">Goleadores</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body row ">
        <div class="card-body text-center d-flex m-1  p-1 " *ngFor="let goleadores of TopGoles; let i = index" >
          <div class="col-1">{{ i + 1 }}</div>
          <div class="col-1 text-start ">
            <i class="fa-solid fa-circle-user mt-1"></i>
          </div>
          <div class="col-8 text-start">{{goleadores.nombre}}</div>
          <div class="col-2 ">{{goleadores.cantidad}}</div>
        </div>
      </div>
    </div>
  </div>
</div>


