


.result-badge,
.title-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-right: 8px;
}

.data-match{
  border-radius: 4px;
  font-size: 16px;
  padding: 4px 8px;

  font-weight: 500;
  color: #fff;
  -webkit-background-clip: text;
  background-clip: text;
}

.date-match{
  color: #848999;
  text-shadow: 0 1px 6px rgba(0,0,0,.0402514);
  font-size: 13px;
}


.win {
  background: rgba(48, 211, 7, 0.9);
}

.tie {
  background: rgba(42, 44, 42, 0.9);
}
.defeat {
  background: rgba(216, 7, 7, 0.9);
}

.redCard {
  color: rgba(216, 7, 7, 0.9);
}

.yellowCard{
color: yellow;
}


.title-color {
  background: rgba(42, 44, 42, 0.9);
}


.type-match {

  background: rgb(54 175 255 / 90%)
}

.team-name{
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  align-items: center;
  color: #212329;


}
.goles{
    font-family: Neusa Next Pro;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -.4px;
    padding: 0 0.2rem;
}

.linea-resultado{
  padding: 0 3px;
}

.icono-equipo {
  width:  34px;
  height: 34px;
}

.icono-equipo-modal {
  width:  45px;
  height: 45px;
}

.hover-result {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.hover-result:hover {
  background-color: #dce0e2; /* Nuevo color rosa */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.game-events{
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  justify-content: center;
  letter-spacing: -.012em;
  color: #212329;
}

@media (max-width: 767px) {

  .result-badge {
    font-size: 10px;
  }
  .team-name{
    font-size: 14px;
  }
  .goles{
    font-size: 14px;
  }
  .date-match{
    font-size: 10px;
  }
  .icono-equipo {
    width:  21px;
    height: 21px;
  }

  .data-match{
    font-size: 12px;

  }
}

@media (max-width: 530px) {
  .result-badge {
    display: none;
  }
}
