.result-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-right: 8px;
}

.win {
  background: rgba(48, 211, 7, 0.9);
}

.tie {
  background: rgba(42, 44, 42, 0.9);
}

.defeat {
  background: rgba(216, 7, 7, 0.9);
}


.team-name{
  font-family: Neusa Next Pro;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: -.016em;
  color: #212329;
}
.goles{
  height: 32px;
    font-family: Neusa Next Pro;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -.4px;
    padding: 0 0.2rem;
}
.linea-resultado{
  padding: 0 3px;
}

.icono-equipo {
  width:  30px;
  height: 30px;
}

.hover-result {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.hover-result:hover {
  background-color: #dce0e2; /* Nuevo color rosa */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}


@media (max-width: 767px) {

  .result-badge {
    font-size: 10px;
  }
  .team-name{
    font-size: 10px;
  }
  .goles{
    font-size: 14px;
  }
  .icono-equipo {
    width:  24px;
    height: 24px;
  }
}
